.label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  gap: 10px;
  border-radius: var(--rounded);
  cursor: pointer;
  transition: background var(--fast);
}

.label:hover {
  background: var(--accent-light);
}

.check {
  height: 20px;
  color: var(--accent);
}
