.label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  gap: 10px;
  cursor: pointer;
}

.root {
  width: 20px;
  height: 20px;
  border: solid 2px currentColor;
  border-radius: var(--rounded);
  color: var(--accent);
  cursor: pointer;
}

.indicator {
  display: contents;
}

.indicator svg {
  height: 15px;
}
