.footer {
  padding: 40px 20px;
  background: var(--deep);
  color: var(--white);
}

.footer a {
  color: var(--white);
  transition: opacity var(--fast);
}

.footer a:hover {
  opacity: 0.5;
}

.icons > a {
  display: flex;
  padding: 5px;
}
