.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  gap: 10px;
  background: var(--deep);
  color: var(--white);
}

.footer a {
  color: var(--white);
}

.footer a:hover {
  color: var(--light-gray);
}

.icons {
  display: flex;
  gap: 10px;
}

.icons > a {
  padding: 5px;
}
