.icon {
  position: relative;
  top: 0.15em;
  margin-right: 0.75em;
  opacity: 0.5;
}

.anchor {
  display: inline-block;
  position: relative;
  top: 0.15em;
  width: 0;
  margin-left: 0.75em;
  color: var(--accent);
  opacity: 0;
  transition: opacity var(--fast);
}

*:hover > .anchor,
.anchor:focus {
  opacity: 1;
}
