.heading {
  display: flex;
  position: relative;
  align-items: center;
  gap: 20px;
}

.icon {
  height: 1em;
  opacity: 0.5;
}

.anchor {
  display: flex;
  position: absolute;
  left: calc(100% + 20px);
  color: var(--accent);
  opacity: 0;
  transition: opacity var(--fast);
}

.anchor svg {
  height: 20px;
}

.heading:hover > .anchor,
.anchor:focus {
  opacity: 1;
}

.badge {
  position: relative;
  top: -0.05em;
  margin-right: 15px;
  vertical-align: middle;
}
