.horizontal,
.vertical {
  display: flex;
  align-items: center;
  max-width: 100%;
  gap: 10px;
}

.horizontal > :first-child {
  flex-shrink: 0;
}

.horizontal > :last-child {
  flex-grow: 1;
}

.vertical {
  flex-direction: column;
}

.none {
  display: contents;
}

.label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.help {
  margin-left: 5px;
}

.required {
  align-self: flex-start;
  height: 10px;
  color: var(--accent);
}
