.horizontal {
  display: flex;
  align-items: center;
  gap: 10px;
}

.vertical {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.none {
  display: contents;
}

.label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.help {
  margin-left: 5px;
}

.required {
  align-self: flex-start;
  height: 10px;
  color: var(--accent);
}
