.container {
  position: relative;
  max-width: 150px;
}

.input {
  width: 100%;
  padding-right: 20px;
  border: none;
  border-bottom: solid 2px currentColor;
  border-radius: var(--rounded) var(--rounded) 0 0;
  background: none;
  color: var(--accent);
  text-align: center;
  transition: background var(--fast);
}

.input:hover {
  background: var(--accent-light);
}

.inc,
.dec {
  position: absolute;
  right: 0;
  width: 20px;
  height: calc(50% - 1px);
  color: var(--accent);
  transition: background var(--fast);
}

:is(.inc, .dec):hover {
  background: var(--accent-light);
}

.inc {
  top: 0;
}

.dec {
  top: calc(50% - 1px);
}
