.root,
.control {
  display: contents;
}

.button {
  width: 150px;
  padding: 5px;
  gap: 10px;
  border-bottom: currentColor 2px solid;
  border-radius: var(--rounded) var(--rounded) 0 0;
  color: var(--accent);
  transition: background var(--fast);
}

.button:hover {
  background: var(--accent-light);
}

.button > span {
  flex-grow: 1;
  text-align: left;
}

.popover {
  border-radius: var(--rounded);
  background: var(--white);
  box-shadow: var(--shadow);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.option {
  display: grid;
  grid-template-columns: 30px 2fr 1fr 30px;
  align-items: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: background var(--fast);
}

.option:hover,
.option[data-highlighted],
.option[data-selected] {
  background: var(--accent-light);
}

.check {
  justify-self: center;
  height: 15px;
  color: var(--accent);
  transition: opacity var(--fast);
}

.check[hidden] {
  opacity: 0;
}

.text {
  padding-right: 10px;
}

.info {
  justify-self: flex-end;
}

.icon {
  justify-self: center;
}
