.horizontal {
  display: flex;
  align-items: center;
  gap: 10px;
}

.vertical {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.none {
  display: contents;
}

.label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.root {
  display: flex;
  position: relative;
  align-items: center;
  width: 100px;
  height: 20px;
  cursor: pointer;
  touch-action: none;
  user-select: none;
}

.track {
  position: relative;
  flex-grow: 1;
  height: 3px;
  border-radius: 999px;
  background: var(--gray);
}

.range {
  position: absolute;
  height: 100%;
  border-radius: 999px;
}

.thumb {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 999px;
}

.range,
.thumb {
  background: var(--accent);
  transition: background var(--fast);
}

.root:hover :is(.range, .thumb) {
  background: var(--deep);
}
