.th {
  display: flex;
  gap: 5px;
}

.header-button {
  color: var(--gray);
}

.header-button:hover {
  color: var(--deep);
}

.header-button[data-active] {
  color: var(--accent);
}

.pagination {
  display: flex;
  gap: 5px;
}

.pagination button {
  width: 30px;
  height: 30px;
  border-radius: var(--rounded);
  color: var(--accent);
  transition: color var(--accent);
}

.pagination button:hover {
  color: var(--deep);
}
