.vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.none {
  display: contents;
}

.label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input,
.textarea {
  width: 100%;
  min-height: 40px;
  padding: 5px 10px;
  border: none;
  border-radius: var(--rounded);
  box-shadow: var(--shadow);
}

.textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 3.5lh;
}
