:root {
  /* colors */
  --accent: #ba3960;
  --deep: #22577a;
  --pale: #e2f3ff;
  --black: #000000;
  --dark-gray: #303030;
  --gray: #808080;
  --light-gray: #e0e0e0;
  --off-white: #fafafa;
  --white: #ffffff;
  --success: #10b981;
  --warning: #f59e0b;
  --error: #f43f5e;

  /* font weights */
  --regular: 300;
  --bold: 600;

  /* effects */
  --rounded: 3px;
  --fast: 0.25s ease;
  --shadow: 0 0 3px #00000020, 2px 2px 8px #00000020;
  --spacing: 2;
  --compact: 1.5;

  /** sizes */
  --content: 1000px;

  font-weight: var(--regular);
  font-size: 13pt;
  line-height: var(--compact);
  font-family: "poppins", sans-serif;
}

* {
  box-sizing: border-box;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  overflow-wrap: anywhere;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

h1 {
  color: var(--deep);
  font-weight: var(--bold);
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-weight: var(--bold);
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-weight: var(--bold);
  font-size: 1.1rem;
}

h4 {
  font-weight: var(--bold);
  font-size: 1rem;
}

a {
  color: var(--accent);
  transition: color var(--fast);
}

a:hover {
  color: currentColor;
}

p a:visited {
  color: var(--deep);
}

p a:visited:hover {
  color: currentColor;
}

p {
  line-height: var(--spacing);
  text-align: justify;
}

b,
strong {
  font-weight: var(--bold);
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  display: flex;
  -webkit-appearance: none;
  appearance: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

input,
textarea {
  min-width: 0;
  padding: 5px;
  font: inherit;
}

select {
  min-width: 0;
  font: inherit;
}

ul,
ol {
  width: 100%;
  padding: 0 0 0 20px;
  line-height: var(--spacing);
}

li {
  margin: 5px 0;
  padding-left: 10px;
}

li:has(:is(ul, ol)) {
  list-style: none;
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background: var(--light-gray);
}

pre {
  padding: 10px 20px;
  overflow: auto;
  border-radius: var(--rounded);
  background: var(--dark-gray);
  color: var(--white);
}

:not(pre) > code {
  padding: 2px 5px;
  border-radius: var(--rounded);
  background: var(--light-gray);
}

blockquote {
  width: 100%;
  padding-left: 20px;
  border-left: solid 4px var(--light-gray);
  font-style: italic;
  line-height: var(--spacing);
}

:not(html) ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 999px;
  background-color: var(--light-gray);
}

:not(html) ::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-color: var(--gray);
}

.icon,
.inline-icon {
  flex-shrink: 0;
  width: unset;
  height: 1em;
  overflow: visible;
}

.inline-icon {
  position: relative;
  top: -0.075em;
  vertical-align: middle;
}
