/* util style classes */
/* naming inspired by tailwind css */

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
