/** text */

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.bold {
  font-weight: var(--bold);
}

.primary {
  color: var(--dark-gray);
}

.secondary {
  color: var(--gray);
}

.truncate:not(:focus) {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:is(.truncate-2, .truncate-3, .truncate-4, .truncate-5):not(:focus) {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--lines);
  display: -webkit-box;
  max-width: 100%;
  overflow: hidden;
}

.truncate-2 {
  --lines: 2;
}
.truncate-3 {
  --lines: 3;
}
.truncate-4 {
  --lines: 4;
}
.truncate-5 {
  --lines: 5;
}

/** effects */

.shadow {
  border-radius: var(--rounded);
  box-shadow: var(--shadow);
}

/** layout */

.placeholder {
  aspect-ratio: 3 / 1;
  width: 100%;
  background: var(--light-gray);
}

.narrow {
  max-width: calc(var(--content) / 2) !important;
}

.flex-row,
.flex-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

:is(.flex-row, .flex-col, .grid) > * {
  max-width: 100%;
  margin: 0;
}

.grid {
  --cols: 2;
  --cell: calc(var(--content) / var(--cols) - 100px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--cell), 1fr));
  justify-items: center;
  gap: 20px;
}

.cols-3 {
  --cols: 3;
}

.gap-none {
  gap: 0;
}

.gap-xs {
  gap: 5px 10px;
}

.gap-sm {
  gap: 10px 20px;
}

.gap-md {
  gap: 20px 40px;
}

.gap-lg {
  gap: 40px 60px;
}

.mini-table {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 5px 15px;
  text-align: left;
}

.mini-table :nth-child(odd) {
  color: var(--dark-gray);
  font-weight: var(--bold);
}

/** animation */

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.pulse {
  animation: pulse 0.5s linear alternate infinite;
}

@keyframes pulse {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
