.icon {
  height: 1em;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  gap: 20px;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  gap: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-items: center;
  gap: 20px;
}

.gap-none {
  gap: 0;
}

.gap-sm {
  gap: 10px;
}

.gap-lg {
  gap: 40px;
}

.mini-table {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 5px 15px;
  text-align: left;
}

.mini-table :nth-child(odd) {
  font-weight: 500;
}

.truncate:not(:focus) {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
