/** card with depth */

.card {
  border-radius: var(--rounded);
  box-shadow: var(--shadow);
}

/** animations */

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.pulse {
  animation: pulse 0.5s ease-in-out alternate infinite;
}

@keyframes pulse {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
